.Setup--container header {
    padding: 1rem;
    text-align: center;
}

.Setup--container header h2 {
    font-size: 30pt;
    margin-bottom: 2rem;
}

.Setup--container header h3 {
    font-size: 20pt;
    margin-top: 3rem;
}

.Setup--container header p {
    font-size: 14pt;
    line-height: 2rem;
    margin: 1rem;
    width: 50%;
}

.Setup--cta {
}

.Setup--button {
    background: var(--color-light-purple);
    border-radius: 50px;
    border: 5px solid var(--color-yellow);
    box-shadow: 0 5px 11px #111;
    color: var(--color-yellow);
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: 18pt;
    font-weight: bold;
    margin: 5px;
    padding: 32px;
}
