.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.App--header {

}

.App--content {

}

.App--footer {
    margin-top: 100pt;
    margin-bottom: 25pt;
}

.App--footer ul {
    list-style: none;
}

.App--footer ul li {
    display: inline-block;
    margin: 10pt 5pt;
}

.App--footer a {
    text-decoration: none;
    color: #111111;
}